@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(204 60% 98%);
  --foreground: hsl(204 70% 4%);
  --muted: hsl(204 21% 89%);
  --muted-foreground: hsl(204 15% 40%);
  --popover: hsl(204 60% 98%);
  --popover-foreground: hsl(204 70% 4%);
  --card: hsl(204 60% 97%);
  --card-foreground: hsl(204 70% 3%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --primary: hsl(204 98% 31%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(204 4% 92%);
  --secondary-foreground: hsl(204 4% 32%);
  --accent: hsl(204 13% 83%);
  --accent-foreground: hsl(204 13% 23%);
  --destructive: hsl(15 88% 42%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(204 98% 31%);
  --chart-1: hsl(204 98% 31%);
  --chart-2: hsl(204 4% 92%);
  --chart-3: hsl(204 13% 83%);
  --chart-4: hsl(204 4% 95%);
  --chart-5: hsl(204 101% 31%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(204 43% 4%);
  --foreground: hsl(204 31% 99%);
  --muted: hsl(204 21% 11%);
  --muted-foreground: hsl(204 15% 60%);
  --popover: hsl(204 43% 4%);
  --popover-foreground: hsl(204 31% 99%);
  --card: hsl(204 43% 5%);
  --card-foreground: hsl(0 0% 100%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --primary: hsl(204 98% 31%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(204 3% 18%);
  --secondary-foreground: hsl(204 3% 78%);
  --accent: hsl(204 9% 28%);
  --accent-foreground: hsl(204 9% 88%);
  --destructive: hsl(15 88% 53%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(204 98% 31%);
  --chart-1: hsl(204 98% 31%);
  --chart-2: hsl(204 3% 18%);
  --chart-3: hsl(204 9% 28%);
  --chart-4: hsl(204 3% 21%);
  --chart-5: hsl(204 101% 31%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius: var(--radius);
}


@layer base {

}

#root {
  width: 100%;
  height: 100%;
}

:root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
